CMakeFiles/
core/CMakeFiles/
core/models/CMakeFiles/
web/CMakeFiles/

Makefile
core/Makefile
core/models/Makefile
web/Makefile

*.cmake
core/*.cmake
core/models/*.cmake
web/*.cmake

CMakeCache.txt
core/CMakeCache.txt
core/models/CMakeCache.txt
web/CMakeCache.txt

core/libcoreLib.a
core/models/libmodelsLib.a
web/libwebLib.a
bot/libbotLib.a

public/docBot.wt

#vim swap files ignore
*.swp
